.delbutton{
    background-color: #dc3545 !important;
    border-color:#dc3545 !important;
    color:#fff !important;
    transition: .5s;
    margin: 0 5px;
}
.delbutton:hover{
    background-color: #da0419 !important;
    border-color:#da0419 !important;
    color:#fff !important;
}
.editbutton{
    background-color: #28a745 !important;
    border-color:#28a745 !important;
    color:#fff !important;
    transition: .5s;
    margin: 0 5px;
}
.editbutton:hover{
    background-color: #0dcc3a !important;
    border-color:#0dcc3a !important;
    color:#fff !important;
}
.todolist{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: auto !important;
    padding: 0 15px;
    width: 100%;
}
.menu{
    padding:10px 15px;
    background: #343a40;
    margin-bottom: 50px;
    color: #fff;
}
.list-menu{
    display: flex;
    flex: wrap;
    margin: 0;
    padding:0;
    list-style: none;
}
.item-menu{
    font-size: 16px;
    margin-right: 30px;
    opacity: 0.8;
    cursor: pointer;
}
.item-menu.active{
    font-size: 18px;
    opacity: 1;
}